.btn {
  text-align: center;
  right: 0px;
}

/* ボタンのテキスト(隠れているテキスト) */
.btn__text:nth-child(2) {
  display: none;
  text-align: center;
}

/* ボタンホバーアクション */
.btn:hover .btn__text:nth-child(1) {
  display: none;
  text-align: center;
  transition: 1s;
}

.btn:hover .btn__text:nth-child(2) {
  display: block;
  text-align: center;
  transition: 1s;
}

/* ボタン */
.btn-menu {
  border: 1px solid #999;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}
 
/* メニュー */
.nav {
  background: #0bd;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
}
 
/* メニューを開いた時 */
.nav.open-menu {
  width: 100%;
}